
x-healthcheck-postgres-template: &postgreshealthcheck
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    interval: 30s
    timeout: 10s
    retries: 5

x-healthcheck-redis-template: &redishealthcheck
  healthcheck:
    test: ["CMD", "redis-cli", "ping"]
    interval: 30s
    timeout: 30s
    retries: 3

x-healthcheck-backend: &backendhealthcheck
  healthcheck:
    test: ["CMD", "sh", "-c", "echo 'Checking backend health via /health' && curl -f http://localhost:8000/health || exit 1"]
    interval: 30s
    timeout: 10s
    retries: 5

x-healthcheck-nginx: &nginxhealthcheck
  healthcheck:
    test: ["CMD", "nginx", "-t"]
    interval: 30s
    timeout: 10s
    retries: 3

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    hostname: backend
    expose:
      - "8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    networks:
      - assistant-cloud-network
    <<: *backendhealthcheck

  postgres:
    image: postgres:17
    container_name: assistant-db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - assistant-cloud-network
    restart: always
    <<: *postgreshealthcheck

  redis:
    image: redis:alpine3.20
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    env_file:
      - .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    networks:
      - assistant-cloud-network
    command: ["sh", "-c", "redis-server --bind 0.0.0.0 --requirepass $REDIS_PASSWORD"]
    <<: *redishealthcheck
  
  nginx:
    image: nginx:stable
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./dist:/usr/share/nginx/html:ro
      - /home/ddt/trassir.com.crt:/etc/nginx/ssl/trassir.com.crt:ro
      - /home/ddt/trassir.com.key:/etc/nginx/ssl/trassir.com.key:ro        
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - assistant-cloud-network
    <<: *nginxhealthcheck

networks:
  assistant-cloud-network:
    driver: bridge

volumes:
  postgres_data: